{{>layout/header}}
<!DOCTYPE HTML>
<html>
    <h1>web service</h1>
    <div class="col-md-12">
        <div class="row">
            <div class="col-md-6">
                <input type="text" id="handle">
                <button type="button" id="btn"> search </button>
            </div>
        </div>
    </div>
    <input type="text" id="rating">
{{>layout/footer}}